*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../CSS/Img/netflix.jpg");
}
#conatiner{
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
}

/* main sign in section style */
#sign_in_section{
    margin: 6rem 0;
   background-color:rgba(0,0,0,0.75);
    width:66vh;
    height: 80vh;
    padding: 4rem;

}
#sign_in_section h1{
    color: white;
    font-family: sans-serif;
}
#sign_in_section #login_form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 70vh;
}
#sign_in_section #submit_form{
      height: 40vh;
}
#submit_form input{
    background-color:#333232;
    height: 3rem;
    width: 20rem;
    border-radius: 3px;
    padding: .8rem 1rem;
    border: none;
    outline: none;
    display: block;
    font-size: 1.1rem;
    margin: 1rem 0;
}
#submit_form input[type=submit]{
  padding: .5rem;
  color: white;
  font-size: 1.5rem;
  background-color: #f91c1c;
  text-align: center;
  cursor: pointer;
  margin: 2rem 0 0 0;
}
#check_section{
    width: 20rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#remember{
    display: flex;
    align-items: center;
    color: #8b8b8b;
}
#remember input[type="checkbox"]{
    height:1rem;
    width: 2rem;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#check_section a{
    color: #8b8b8b;
    font-size: 1rem;
}
/* ........................... */
/* footer section  style*/
#footer{
    height: 22vh;
    width: 22rem;
    color: #8b8b8b;
}
#footer div:nth-child(1) {
    font-size: 1.1rem;
}
#footer #sign_up{
    font-size: 1.1rem;
}
#footer  a{
    color: white;
}
#footer #footer_para {
    font-size: .9rem;
    padding: .6rem 0;
}
#footer_para a{
    color: blue;
    font-size: 1rem;
}